{% extends 'blogapp/main.html' %}
{% load static %}
{% block content %}

<h1  style="text-align: center; background-color: rgb(233, 236, 239);"> Know more about Creator</h1>

<div class="container">
    <div class="row">
      <div class="col">
        <img src="{% static 'images/aa.jpg' %}" alt="...">
      </div>
      <div class="col">
        <h5 class="card-title">Who am I</h5>
        <p class="card-text">Hello! I'm Altaf, a passionate Software Engineer from Bangladesh,currently studing in China.
            who's experienced in taking fullstack applications from scratch to production.I'm currently attending Henan University
             Of Technology, as a Software Engineering student and working at python based FullStack Web development,I am eager
              to learn kew technologies and looking for new opportunitys.Over the last 2 years, I've had the opportunity
               to develop for a handful of awesome companies / clients as a consultant and continue to do so today. My work 
               includes developing fullstack web apps, creating backend servers,designing font-end application, small
                Big-data and data science projects,creating websites with wordpress.</p>
               
               <div class="alert alert-primary" role="alert">
                   Here are a few technologies I've been working with recently:
                 </div>
           
               <ul class="list-group list-group-horizontal">
                   <li class="list-group-item"> Python</li>
                   <li class="list-group-item">JavaScript</li>
                   <li class="list-group-item">html & css</li>
                 </ul>
                 <ul class="list-group list-group-horizontal-sm">
                   <li class="list-group-item">Django</li>
                   <li class="list-group-item">React</li>
                   <li class="list-group-item"> Bootstrap</li>
                 </ul>
                 <ul class="list-group list-group-horizontal-md">
                   <li class="list-group-item"> SQl</li>
                   <li class="list-group-item"> Git</li>
                   <li class="list-group-item">Wordpress</li>
                 </ul>
                 
          <p class="card-text"><small class="text-muted"><a href="https://www.altafhosen.com/">Visit my website</a></small></p>
      </div>
<!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'images/aa.jpg' %}" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Hello! I'm Altaf, a passionate Software Engineer from Bangladesh,currently studing in China.
         who's experienced in taking fullstack applications from scratch to production.I'm currently attending Henan University
          Of Technology, as a Software Engineering student and working at python based FullStack Web development,I am eager
           to learn kew technologies and looking for new opportunitys.Over the last 2 years, I've had the opportunity
            to develop for a handful of awesome companies / clients as a consultant and continue to do so today. My work 
            includes developing fullstack web apps, creating backend servers,designing font-end application, small
             Big-data and data science projects,creating websites with wordpress.</p>
            
            <div class="alert alert-primary" role="alert">
                Here are a few technologies I've been working with recently:
              </div>
        
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"> Python</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">html & css</li>
              </ul>
              <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">Django</li>
                <li class="list-group-item">React</li>
                <li class="list-group-item"> Bootstrap</li>
              </ul>
              <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item"> SQl</li>
                <li class="list-group-item"> Git</li>
                <li class="list-group-item">Wordpress</li>
              </ul>
        
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div> -->

  {% endblock %}