{% extends 'blogapp/main.html' %}
{% load static %}
{% block content %}
    {% include 'blogapp/navbar.html' %}
<div class="seactionB">
    <div class="detils">
        <h1>Who am I</h1>
        <img src="{% static 'images/cover.jpg' %}" alt="altaf">
        <p>Date:20/2020</p>
        <p class="text">  Hello! I'm Altaf, a passionate Software Engineer from Bangladesh,currently studing in China. who's experienced 
            in taking fullstack applications from scratch to production.
        I'm currently attending Henan University Of Technology, Sacramento as
             a Software Engineering and working at FullStack Web.<span class="moreText"> 
       Over the last 4 years, I've had the opportunity to develop for a handful of awesome companies / clients as a consultant and continue to do so today. My work includes developing mobile apps, making web apps, creating backend servers,
            handling small-scale DevOps, and implementing desktop Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur porro amet itaque repellendus at odit molestiae a quod consectetur voluptates soluta, laudantium dolore consequuntur reiciendis obcaecati. Quos dolor odit doloremque. </span> </p>
        <button class="Read-more-btn">Read More</button>
    </div>

    <div class="card">
      <p>Date:20/2020</p>
      <p>Latest Post</p>
      <p>Annoucements</p>    
       <p>Calender</p>
       <p>News</p>
    </div>
</div>
{% for blog in object_list %}
    <div class="seactionC">
        <div class="detils">
            <h1>{{blog.title}}</h1>
            <img src="{{ blog.image.url }}" alt="altaf">
            <p>{{blog.date}}-{{blog.author}}</p>
            <p class="text"> {{blog.details}}<span class="moreText"> 
        Over the last 4 years, I've had the opportunity to develop for a handful of awesome companies / clients as a consultant and continue to do so today. My work includes developing mobile apps, making web apps, creating backend servers,
                handling small-scale DevOps, and implementing desktop Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur porro amet itaque repellendus at odit molestiae a quod consectetur voluptates soluta, laudantium dolore consequuntur reiciendis obcaecati. Quos dolor odit doloremque. </span> </p>
            <button class="Read-more-btn">Read More</button>
        </div>
    </div>

{% endfor %}

{% endblock %}