{% extends 'blogapp/main.html' %}
{% load static %}
{% block content %}
    {% include 'blogapp/navbar.html' %}

  
<div class="seactionB">

    <div class="detils">

        <h1>{{object_list.0.title}}</h1>
        <img src="{{ object_list.0.image.url }}" >
        <p>{{object_list.0.date}}-{{object_list.0.author}}</p>
        <p class="text"> {{object_list.0.details}}  </p>
      
    
    </div>

    <div class="card">
        <p> {% now "jS F Y H:i" %}</p>
        <p><a href="{% url 'blogapp:articale-detail' object_list.0.id %}">Latest Post</a></p>
        <p>Annoucements</p>    
        <p>Clock</p>
        <p>News</p>
    </div>
 
</div>

   
<div class="seactionC">
    {% for blog in object_list %}
    
        <div class="detils">
            <h1>{{blog.title}}</h1>
            <img src="{{ blog.image.url }}" >
            <p>{{blog.date}}-{{blog.author}}</p>
            <p class="text"> {{blog.details|truncatechars:100}}  </p>
            <a href="{% url 'blogapp:articale-detail' blog.pk %}" > <button class="Read-more-btn">Read More</button> </a> 
        
        </div>

    {% endfor %}
</div>
<ul>
    <li><button>NExT</button></li>
    <li><button>Privous</button></li>
  </ul>

{% endblock %}
