{% extends 'blogapp/main.html' %}
{% load static %}
{% block content %}
{% include 'blogapp/navbar.html' %}

{% load crispy_forms_tags %}
<h1 class="col-md-6 offset-md-3 btn-secondary" border-radius: 50%;>Contact with us</h1> 
<form method="post">{% csrf_token %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
          {{ form|crispy }}
        </div>
        
      </div>
    <input class="btn btn-success col-md-6 offset-md-3" type="submit" value="Send message">
</form>

{% endblock %}