{% extends 'blogapp/main.html' %}
{% load static %}
{% block content %}
    {% include 'blogapp/navbar.html' %}

    <ul>
        <li><a href="{% url 'blogapp:home' %}">Back To Home</a></li>
        
      </ul>
        <div class="detils">
            <h1>{{object.title}}</h1>
            <img src="{{ object.image.url }}" alt="altaf">
            <p>{{object.date}}-{{object.author}}</p>
            <p class="text"> {{object.details}}</p>

            <ul>
                <li><button>NExT</button></li>
                <li><button>Privous</button></li>
              </ul>
   
        
        </div>




{% endblock %}